page-item-create {
  .request-image {
    width: 80vw;

    display: block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .toolbar-background{
    background-color: white;
  }
  .toolbar-title{
    color: black
  }
  
  .bar-button{
      color:black;
  }

}
